@use 'assets/styles/colours'
@use 'assets/styles/fonts'

.mt-4
    align-items: center
    flex-direction: column
    justify-content: center

.text-ml
    color: colours.$tomato-sauce-red

.text-xl
    color: colours.$windows-blue
    font-size: 1.5rem
    padding: 1%