@use 'assets/styles/colours'
@use 'assets/styles/fonts'

.itemDetail
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    padding: 8%

.card
    background-color: colours.$gainsboro
    padding: 3%

.brand
    color: colours.$tomato-sauce-red

.name
    color: colours.$windows-blue
    font-size: 1rem

.colour
    color: colours.$roman-silver

.category
    color: colours.$red-blood

.price
    color: colours.$tomato-sauce-red
    padding: 1%
    text-transform: uppercase

.brand,
.price
    font-size: 1.5rem

.colour,
.category,
.code,
.stock
    font-size: 0.8rem

.brand,
.name,
.colour,
.category
    padding: 1%
    text-transform: capitalize

.code,
.stock
    color: colours.$roman-silver

.continueBuying
    background-color: colours.$gainsboro
    border: 0.1em solid colours.$windows-blue
    color: colours.$windows-blue
    display: block
    font-family: fonts.$poppins
    font-size: 0.8rem
    margin: 0 auto
    padding: 1%
    text-align: center
    width: 75%
    &:link
        color: colours.$windows-blue
    &:visited
        color: colours.$medium-blue
    &:hover
        background-color: colours.$linen
        color: colours.$royal-blue
    &:active
        color: colours.$blue-whale

@media screen and (max-width: 649px)
    .itemDetail
        padding: 25%

@media screen and (min-width: 650px) and (max-width: 849px)
    .itemDetail
        padding: 12%

@media screen and (min-width: 850px) and (max-width: 1200px)
    .itemDetail
        padding: 10%
